h1{
    color: orange; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.highlight{

    color: tomato;
}
body{
    margin: 50px;
    background-image: linear-gradient(lavender, white);
    font-size: larger;
    font-weight: 500;
    
}